body{
    background: rgb(235,190,224);
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.github {
    color:rgb(0,0,0);
    text-align: left;
}
.p1{
    text-align: center;
    padding-left: 300px;
}
.resume {
    color:rgb(0,0,0);
    text-align: left;
}
p{
    text-align: center;
    padding-left: 300px;
    padding-right: 500px;
}

h1{
  
    color: rgb(0, 0, 0);
    text-align: right;
}

.resume a:hover {
    color:rgb(209, 97, 97);
}

.github a:hover {
    color:rgb(209, 97, 97);
}