.about__content {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 10rem;
    font-size: 1.5rem;
}

.about__title {
    color: #42253B;
}

.bio { /*bio includes the img*/
   
    color: #42253B; /*color of text*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.bio__text {
    height: auto;
    max-width: 30%;
    text-align: left;
    background: radial-gradient(circle, #95a3b3, rgb(171 250 169));
    padding: 1.7rem;
    border-radius: 12px;
    box-shadow: 5px 5px 20px rgba(76, 44, 105, 0.5);
}

img {
    height: auto;
    max-width: 30%;
    border-radius: 12px;
    box-shadow: 5px 5px 20px rgba(76, 44, 105, 0.5);
}


h1{
    font-weight: 100;
    font-size: 3rem;
}

p, body { font-size: 1.125rem; }
/*add font size adjustments for phone and tablet screens*/