.contact__content {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 10rem;
}

.contact__title { /*inside contact content*/
    color: #42253B;
    text-align: left;
}

.contact__methods{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 1rem;
    color: #42253B;
    padding-left: 1rem;

}

.method__email{
    text-align: center;
    background: radial-gradient(circle, #95a3b3, rgb(171 250 169));
    padding: .5rem;
    border-radius: 12px;
    box-shadow: 5px 5px 20px rgba(76, 44, 105, 0.5);
    min-width: 400px;
    width: fit-content;
}

.method__phone{
    text-align: center;
    background: radial-gradient(circle, #95a3b3, rgb(171 250 169));
    padding: .5rem;
    border-radius: 12px;
    box-shadow: 5px 5px 20px rgba(76, 44, 105, 0.5);
    min-width: 400px;
    width: fit-content;
}
                
.method__linkedin{
    text-align: center;
    background: radial-gradient(circle, #95a3b3, rgb(171 250 169));
    padding: .5rem;
    border-radius: 12px;
    box-shadow: 5px 5px 20px rgba(76, 44, 105, 0.5);
    min-width: 400px;
    width: fit-content;
}

a{
    text-decoration: none;
    color: #42253B;
}
/*add font size adjustments for phone and tablet screens*/