
.project-card {
  background: radial-gradient(circle, #95a3b3, rgb(171 250 169));
  padding: 1.7rem;
  border-radius: 12px;
  box-shadow: 5px 5px 20px rgba(76, 44, 105, 0.5);
  text-align: center;
}

.project-card__title {
  font-size: 1rem;
  font-weight: 600;
} 